* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    background-size: cover;
    /* margin-left: auto;
    margin-right: auto; */
    border-top: solid 1px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all .5s ease;
}

.container {
    width: 90%;
    max-width: 400px;
    background: #13232f;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}

.form-container {
    text-align: center;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #a0b3b0;
    color: white;
    font-size: 16px;
}

.form-toggle button.active {
    background: #1ab188;;
}

form {
    display: none;
}

form h2 {
    margin-bottom: 20px;
    color: white;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1ab188;;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }
    .form-toggle button {
        font-size: 14px;
    }
}
